
.activation-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.activation-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.activation-page h2 {
  text-align: center;
}

.activation-page form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding: 0;
  width: 100%;
}

.activation-page label
,.activation-page input
,.activation-page button[type=submit] {
  display: block;
  width: 100%;
  text-align: center;
  outline: none;
}

.activation-page label {
  margin-bottom: 5px;
}

.activation-page input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  height: 45px;
}

.activation-page button[type=submit] {
  height: 45px;
  background: #4B79A1;
  background: -webkit-radial-gradient(to right, rgb(50, 66, 80), #4B79A1);
  background: radial-gradient(to right, rgb(50, 66, 80), #4B79A1);
  width: 80%;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.activation-page button[type=submit]:hover {
  width: 60%;
}


@media only screen and (min-width: 768px) {
  .activation-page input {
      width: 100%;
  }

  .activation-page button[type=submit] {
    width: 90%
  }

  .activation-page button[type=submit]:hover {
    width: 95%
  }

  .activation-page input
  , .activation-page button[type=submit] {
      margin-left: auto;
      margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .activation-page div.form-container {
    width: 35%;
  }

  .activation-page input {
    width: 100%;
  }

  .activation-page button[type=submit] {
    width: 90%;
  }

  .activation-page button[type=submit]:hover {
    width: 95%
  }
}