.scheduling-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.scheduling-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.scheduling-page p {
  text-align: center;
  margin-top: 25px;
}

.scheduling-page form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding: 0;
  width: 100%;
}

.scheduling-page label,
.scheduling-page input,
.scheduling-page button[type='submit'] {
  display: block;
  width: 100%;
  text-align: center;
  outline: none;
}

.scheduling-page label {
  margin-bottom: 5px;
}

.scheduling-page input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  height: 45px;
}

.scheduling-page button[type='submit'] {
  height: 45px;
  background: #4b79a1;
  background: -webkit-radial-gradient(to right, rgb(50, 66, 80), #4b79a1);
  background: radial-gradient(to right, rgb(50, 66, 80), #4b79a1);
  width: 80%;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.scheduling-page button[disabled] {
  background: #4b79a1;
  background: -webkit-radial-gradient(to right, rgb(50, 66, 80), #a14b4b);
  background: radial-gradient(to right, rgb(50, 66, 80), #a14b4b);
}

.scheduling-page button[type='submit']:hover {
  width: 85%;
}

@media only screen and (min-width: 768px) {
  .scheduling-page input {
    width: 100%;
  }

  .scheduling-page button[type='submit'] {
    width: 90%;
  }

  .scheduling-page button[type='submit']:hover {
    width: 95%;
  }

  .scheduling-page input,
  .scheduling-page button[type='submit'] {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .scheduling-page input {
    width: 100%;
  }

  .scheduling-page button[type='submit'] {
    width: 90%;
  }

  .scheduling-page button[type='submit']:hover {
    width: 95%;
  }
}

.g-recaptcha > div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
