.availability-page-2 .form-container {
  margin-top: 5px;
  padding-bottom: 0px;
  box-shadow: none;
  margin-bottom: 175px;
}

.availability-page-2 h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.availability-page-2 .form-container h2 {
  margin: 20px 0 5px 0;
  font-size: 19px;
  font-weight: bold;
  padding: 0;
}

.availability-page-2 h3 {
  margin-top: 25px;
  margin-bottom: 32px;
}

.availability-page-2 em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.availability-page-2 div.time-selector {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 0 0 0 10px;
}

.availability-page-2 div.time-selector:hover {
  border-color: dodgerblue;
}

.availability-page-2 div.time-selector:active {
  border-color: dodgerblue;
  outline: dodgerblue;
}

.availability-page-2 input[type=time] {
  width: 90%;
  height: 100%;
  outline: none;
  border: none;
  display: inline-block;
  padding-left: 15px;
  background-color: transparent;
}

.form-container button.ant-btn-lg:last-child {
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  width: 75%;
  display: block;
}

.availability-page-2 label {
  display: block;
  margin-bottom: 10px;
}

div.settings-toggle-switch {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 42px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.fixed-settings > div:nth-child(10) {
  width: 100%;
  display: block;
}

.settings-antd-switch {
  float: right;
}

@media only screen and (min-width: 768px) {
  .field-group:nth-child(1n+2),
  .fixed-settings > .settings-toggle-switch {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {

}