
.dashboard-page .appointment-details * {
  -webkit-transition: none ! important;
  -moz-transition: none ! important;
  transition: none ! important;
}

.dashboard-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.dashboard-page h3 {
  margin-top: 25px;
  margin-bottom: 32px;
}

.dashboard-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dashboard-page h2 {
  text-align: center;
}

.dashboard-page h2:nth-of-type(2) {
  margin-bottom: 10px;
}

.dashboard-page p {
  text-align: center;
  font-size: 20px;
}

.dashboard-page big {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
}

.dashboard-page span.client-name {
  font-size: 25px;
}

div.appointment-navigation {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

div.appointment-details {
  text-align: center;
}

div.appointment-navigation div {
  height: 55px;
  width: 40%;
  outline:  none;
  text-align: center;
  padding-top: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25),
  1px 1px 1px 1px rgba(0, 0, 0, 0.22);
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
}

div.appointment-navigation div:active {
  background-color: #4b79a1;
  color: white;
}

div.appointment-navigation div:hover {
  background-color: #4b79a1;
  color: white;
}

div.appointment-navigation div:first-of-type {
  float: left;
  margin-left: 15px;
}

div.appointment-navigation div:first-of-type::before {
  content: '< '
}

div.appointment-navigation div:nth-of-type(2) {
  float: right;
  margin-right: 15px;
}

div.appointment-navigation div:nth-of-type(2)::after {
  content: ' >'
}

.dashboard-appointment {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25),
  1px 1px 1px 1px rgba(0, 0, 0, 0.22);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.dashboard-page .options a {
  display: block;
  text-decoration: none;
  padding-top: 20px;
  margin: 0;
  width: 100%;
  height: 100%;
  color: inherit;
}

.dashboard-page .options a:visited {
  color: inherit;
}

.dashboard-page .options {
  border: 1px solid lightgrey;
  border-bottom: none;
  width: 33.3333%;
  text-align: center;
  display: inline-block;
  height: 55px;
  background-color: white;
  color: black;
}

.dashboard-page .options:hover {
  background-color: #4b79a1;
  color: white;
}

.total-appointments a{
  text-decoration: none;
  outline: none;
}

.total-appointments a:visited{
  color: black;
}


@media only screen and (min-width: 768px) {
  .dashboard-appointment {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .dashboard-appointment {
    width: 30%;
  }
}