.dashboard-page {
  background-color: white;
}

.dashboard-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.dashboard-page h3 {
  margin-top: 25px;
  margin-bottom: 32px;
}

.dashboard-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dashboard-page h2 {
  text-align: center;
}

.dashboard-page h2:nth-of-type(2) {
  margin-bottom: 10px;
}

.dashboard-page p {
  text-align: center;
  font-size: 20px;
}

.dashboard-appointment {
  margin-left: auto;
  margin-right: auto;
}

.dashboard-page .ant-card-head-title {
  text-align: center;
  font-size: 20px;
}

.dashboard-page .ant-card-body {
  font-size: 20px;
  text-align: center;
}

.total-appointments a{
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.total-appointments a:visited{
  color: black;
}

.total-appointments {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.slick-prev:before, .slick-next:before {
  color: black;
  font-size: 55px;
}

.slick-arrow {
  width: 55px;
  height: 55px;
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  .dashboard-appointment {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .dashboard-appointment {
    width: 40%;
  }
}