.landing-page {
    background-color: transparent;
}

.landing-page h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.landing-page em {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.landing-page p {
    margin-top: -75px;
    padding: 25px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25),
    1px 1px 1px 1px rgba(0,0,0,0.22);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    color: black;
    background-color: white;
    line-height: 16pt;
}

.landing-page a {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    height: 55px;
    color: white;
    background: #4B79A1;
    background: -webkit-linear-gradient(to right, rgb(50, 66, 80), #4B79A1);
    background: linear-gradient(to right, rgb(50, 66, 80), #4B79A1);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    text-decoration: none;
    padding-top: 17px;
}

.landing-page a:visited {
    color:white;
}

.landing-page a:active {
    box-shadow: none;
}

.landing-page a:hover {
    color: white;
    width: 85%;
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .landing-page p {
        width: 60%;
    }

    .landing-page a {
        width: 40%;
    }

    .landing-page a:hover {
        width: 45%;
    }
    
    .landing-page p
    , .landing-page a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .landing-page p {
        width: 35%;
    }

    .landing-page a {
        width: 25%;
    }

    .landing-page a:hover {
        width: 30%;
    }

    .landing-page p
    , .landing-page a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



