.login-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.login-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.login-page div.form-container {
  width: 90%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25),
  1px 1px 1px 1px rgba(0,0,0,0.22);
  padding: 25px;
  padding-top: 5px;
  margin-top: -75px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.login-page form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding: 0px;
  width: 100%;
}

.login-page label
,.login-page input
,.login-page button[type=submit] {
  display: block;
  width: 100%;
  text-align: center;
  outline: none;
}

.login-page label {
  margin-bottom: 5px;
}

.login-page input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  height: 45px;
}

.login-page button[type=submit] {
  height: 45px;
  background: #4B79A1;
  background: -webkit-radial-gradient(to right, rgb(50, 66, 80), #4B79A1);
  background: radial-gradient(to right, rgb(50, 66, 80), #4B79A1);
  width: 80%;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.login-page button[type=submit]:hover {
  width: 85%;
}

@media only screen and (min-width: 768px) {
  .login-page div.form-container {
    width: 60%;
  }

  .login-page input {
      width: 100%;
  }

  .login-page button[type=submit] {
    width: 90%
  }

  .login-page button[type=submit]:hover {
    width: 100%
  }

  .login-page input
  , .login-page button[type=submit] {
      margin-left: auto;
      margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .login-page div.form-container {
    width: 35%;
  }

  .login-page input {
    width: 100%;
  }

  .login-page button[type=submit] {
    width: 90%;
  }

  .login-page button[type=submit]:hover {
    width: 100%
  }
}

