nav {
    position: fixed;
    top: 0;
    width : 100%;
    height: 55px;
    z-index: 10;
    background-color: transparent;
}

nav * {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

nav h1,
nav li a {
    display: block;
    height: 100%;
}

nav a:visited {
    color: white;
}

nav h1 {
    margin: 0;
    padding-top: 7px;
    margin-left: 15px;
    width: 25%;
}

nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 17px;
}

nav ul li {
    background-color: black;
}

nav ul li a:hover {
    background: #4B79A1 no-repeat;
    background: -webkit-radial-gradient(to top, #283E51, #4B79A1) no-repeat;
    background: radial-gradient(to top, #283E51, #4B79A1) no-repeat;
}

nav ul
, nav li {
    display: block;
    height: 0%;
    margin: 0;
    padding: 0;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    nav {
        background-color: black;
    }

    nav h1,
    nav ul,
    nav li,
    nav li a {
        display: inline-block ! important;
        height: 100% ! important;
    }

    nav ul {
        float: right;
        margin: 0;
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav ul li a {
        width: 100%;
        padding: 20px;
    }
}