
.signup-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.signup-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.signup-page form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding: 0;
  width: 100%;
}

.signup-page label
,.signup-page input
,.signup-page button[type=submit] {
  display: block;
  width: 100%;
  text-align: center;
  outline: none;
}

.signup-page label {
  margin-bottom: 5px;
}

.signup-page input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  height: 45px;
}

.signup-page button[type=submit] {
  height: 45px;
  background: #4B79A1;
  background: -webkit-radial-gradient(to right, rgb(50, 66, 80), #4B79A1);
  background: radial-gradient(to right, rgb(50, 66, 80), #4B79A1);
  width: 80%;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.signup-page button[type=submit]:hover {
  width: 85%;
}

.signup-page .password-helper {
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25),
  1px 1px 1px 1px rgba(0, 0, 0, 0.22);
}

@media only screen and (min-width: 768px) {
  .signup-page input {
      width: 100%;
  }

  .signup-page button[type=submit] {
    width: 90%
  }

  .signup-page button[type=submit]:hover {
    width: 95%
  }

  .signup-page input
  , .signup-page button[type=submit] {
      margin-left: auto;
      margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .signup-page input {
    width: 100%;
  }

  .signup-page button[type=submit] {
    width: 90%
  }

  .signup-page button[type=submit]:hover {
    width: 95%
  }
}