.signup-page {
  padding: 15px;
}

.signup-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.signup-page em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.signup-page form {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding: 10px;
  width: 100%;
}

.signup-page label
,.signup-page input
,.signup-page button[type=submit] {
  display: block;
  width: 100%;
  text-align: center;
}

.signup-page label {
  margin-bottom: 5px;
}

.signup-page input {
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
  height: 45px;
}

.signup-page button[type=submit] {
  height: 45px;
  background-color: lightblue;
  border: none;
  outline: none;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .signup-page form {
      width: 60%;
  }

  .signup-page input {
      width: 80%;
  }

  .signup-page button[type=submit] {
    width: 65%
  }

  .signup-page input
  , .signup-page button[type=submit] {
      margin-left: auto;
      margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {

  .signup-page input {
    width: 45%;
  }

  .signup-page button[type=submit] {
    width: 35%
  }
}