div.time-selection-input {
  display: block;
  height: 55px;
  border: 1px solid lightgray;
  margin: 0 auto 5px auto;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
}

div.time-selection-input:hover {
  background-color: #4b79a1;
  color: white;
}

div.time-selection-input:focus {
  background-color: #4b79a1;
  color: white;
  outline: none;
}

label.time-selection-input {
  display: inline-block;
  margin: 0;
  padding: 15px 0 15px 0;
  height: 100%;
  width: 100%;
}

input.time-selection-input {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  div.time-selection-input {
      width: 45%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  div.time-selection-input {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}